body {
    background-color:#3498db;
    font-family: 'Open Sans', sans-serif;
}

.bg-dark {
    background-color:#2980b9 !important;
}

h3 {
    font-weight: 700;
    color:#2980b9;
}

h5 {
    font-weight:500;
    color:#2980b9;
}

.content {
    padding:15px;
}

.content {
    background-color: #ffffff;
}

table tr td, th {
    font-size:13px;
}

table th {
    color:#2980b9;
}

table td {
    color:#696969;
}



table .btn  {
    font-size:13px;
}


form label {
    font-size:12px;
    color:#696969;
}

.form-control:focus {
    box-shadow:none;
}

.form-control {

    border-bottom:1px solid #ededed;
    border-top:0;
    border-left:0;
    border-right:0;
    border-radius:0;
    font-size:13px;
    color:#696969;
}

table a:focus, table a:active {
        box-shadow:none !important;
}

.error {
    font-size:12px;
    color:red;
}

.page {
    margin-top:25px;
}

/** tooltip **/


.tooltip-main {
    width: 15px;

    border-radius: 50%;
    font-weight: 700;
    background: #f3f3f3;
    border: 1px solid #737373;
    color: #737373;
    margin: 4px 121px 0 5px;
    float: right;
    text-align: left !important;
}

.tooltip-qm {
    float: left;
    margin: -2px 0px 3px 4px;
    font-size: 12px;
}

.tooltip-inner {
    max-width: 225px !important;

    font-size: 12px;
    padding: 5px 5px 5px 5px;
    background: #FFFFFF;
    color: rgb(0, 0, 0, 0.7);
    border: 1px solid #737373;
    text-align: left;
}